.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
}
.nav-bar a{
  text-decoration: none;
  color: black;
  margin: 15px 30px;
}

.form-field{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.form-field input{
  margin: 10px 0
}


