.form-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
  }
  
  .form-field input{
    margin: 10px 0
  }

  .create-box{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 20px;
    padding: 10px 15px;
  }

  .allEvent-form{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 23px 12px;
    padding: 20px 10px;
    border: 2px solid black;
  }